<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>

    <environments default="development">
        <environment id="${environment}">
            <transactionManager type="${transaction}"/>
            <dataSource type="${pool}">
                <property name="driver" value="${ConnectionManager.driver}"/>
                <property name="url" value="${ConnectionManager.connection}"/>
                <property name="username" value="${ConnectionManager.user}"/>
                <property name="password" value="${ConnectionManager.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/CpSequenceMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsBdgagencyMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsBdgagencyHMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsCardbaseinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsCardstatusMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsConsumeinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsPaybackinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsPersonalinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsSysinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/LsTaskinfoMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/OdsbCrdCrtAcctMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/OdsbCrdCrtMapper.xml"/>
        <mapper resource="org/fbi/gwk/repository/mapper/gwk/OdsbCrdCrtTradMapper.xml"/>
    </mappers>

</configuration>